## Data preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
game_data = pd.read_pickle("../trainset.pickle")
game_data_keys = game_data.keys()
print(len(game_data_keys))

12325

In [3]:
print(game_data[list(game_data.keys())[0]].keys())
game_data[list(game_data.keys())[0]]

dict_keys(['game_page_url', 'have_att', 'start_time', 'day', 'month', 'is_federal_holiday', 'duration', 'venue', 'at_night', 'on_grass', 'weather_description', 'temperature', 'wind_speed', 'weather', 'precipitation', 'umpires', 'attendance', 'team1_name', 'team1_pre_win', 'team1_pre_loss', 'team1_pre_win_pct', 'team1_players', 'team1_streak', 'team2_name', 'team2_pre_win', 'team2_pre_loss', 'team2_pre_win_pct', 'team2_players', 'team2_streak'])

{'game_page_url': 'https://www.baseball-reference.com/boxes/CHN/CHN201504050.shtml',
 'have_att': True,
 'start_time': datetime.datetime(2015, 4, 5, 19, 17),
 'day': 'Sunday',
 'month': 'April',
 'is_federal_holiday': 0,
 'duration': datetime.timedelta(seconds=11040),
 'venue': 'Wrigley Field',
 'at_night': True,
 'on_grass': True,
 'weather_description': ' 44° F, Wind 7mph in from Centerfield, Sunny.',
 'temperature': 44,
 'wind_speed': 7,
 'weather': 'Sunny.',
 'precipitation': 4,
 'umpires': ' HP - Mike Winters, 1B - Mark Wegner, 2B - Marty Foster, 3B - Mike Muchlinski.',
 'attendance': 35055,
 'team1_name': 'StLouisCardinals',
 'team1_pre_win': 0,
 'team1_pre_loss': 0,
 'team1_pre_win_pct': 0,
 'team1_players':                    Batting AB  R  H RBI BB SO PA    BA   OBP  ...     WPA  \
 0        Matt Carpenter 3B  5  1  2   1  0  0  5  .400  .400  ...   0.060
 1         Jason Heyward RF  5  1  3   0  0  0  5  .600  .600  ...   0.172
 2         Matt Holliday LF  4  0  2   2  1  1  5  .500  .600  ...   0.110
 3      Peter Bourjos PR-CF  0  0  0   0  0  0  0              ...   0.003
 4        Jhonny Peralta SS  5  0  1   0  0  2  5  .200  .200  ...  -0.096
 5            Matt Adams 1B  4  0  0   0  0  2  4  .000  .000  ...  -0.095
 6          Yadier Molina C  2  0  0   0  2  2  4  .000  .500  ...   0.007
 7           Kolten Wong 2B  3  1  0   0  1  1  4  .000  .250  ...  -0.001
 8            Jon Jay CF-LF  4  0  2   0  0  1  4  .500  .500  ...   0.011
 9        Adam Wainwright P  3  0  0   0  0  1  3  .000  .000  ...  -0.098
 10       Carlos Martinez P  0  0  0   0  0  0  0              ...
 11        Mark Reynolds PH  1  0  0   0  0  1  1  .000  .000  ...  -0.009
 12         Jordan Walden P  0  0  0   0  0  0  0              ...
 13      Trevor Rosenthal P  0  0  0   0  0  0  0              ...

       aLI   WPA+     WPA-    cWPA   acLI   RE24  PO  A  Details
 0    0.81  0.126  -0.066%   0.04%   0.88    0.4   0  0       CS
 1    0.59  0.181  -0.010%   0.11%   0.65    2.1   2  0  2·2B,SB
 2    0.69  0.123  -0.013%   0.07%   0.75    1.3   1  0       SB
 3    0.14  0.003   0.000%   0.00%   0.15    0.1   0  0       SB
 4    0.63  0.004  -0.100%  -0.06%   0.68   -1.6   1  3
 5    0.71  0.000  -0.095%  -0.06%   0.78   -1.5   7  2
 6    0.67  0.032  -0.026%   0.00%   0.72    0.1  12  0       IW
 7    0.82  0.062  -0.062%      0%   0.89   -0.6   0  2       SB
 8    0.68  0.068  -0.057%   0.01%   0.74    0.1   2  0       2B
 9    1.06  0.000  -0.098%  -0.06%   1.15   -1.2   1  1
 10                                                1  0
 11   0.34  0.000  -0.009%  -0.01%   0.37   -0.3
 12                                                0  0
 13                                                0  0

 [14 rows x 24 columns],
 'team1_streak': 0,
 'team2_name': 'ChicagoCubs',
 'team2_pre_win': 0,
 'team2_pre_loss': 0,
 'team2_pre_win_pct': 0,
 'team2_players':                          Batting AB  R  H RBI BB SO PA    BA   OBP  ...  \
 0               Dexter Fowler CF  4  0  1   0  0  2  4  .250  .250  ...
 1                 Jorge Soler RF  4  0  0   0  0  1  4  .000  .000  ...
 2               Anthony Rizzo 1B  3  0  0   0  1  2  4  .000  .250  ...
 3              Starlin Castro SS  4  0  1   0  0  1  4  .250  .250  ...
 4               Chris Coghlan LF  4  0  1   0  0  1  4  .250  .250  ...
 5                    Mike Olt 3B  4  0  0   0  0  2  4  .000  .000  ...
 6                   David Ross C  2  0  1   0  0  0  2  .500  .500  ...
 7                  Jason Motte P  0  0  0   0  0  0  0              ...
 8                 Neil Ramirez P  0  0  0   0  0  0  0              ...
 9      Arismendy Alcantara PH-2B  1  0  0   0  1  1  2  .000  .500  ...
 10                  Jon Lester P  1  0  0   0  0  1  1  .000  .000  ...
 11                   Phil Coke P  0  0  0   0  0  0  0              ...
 12           Miguel Montero PH-C  2  0  0   0  0  1  2  .000  .000  ...
 13            Tommy La Stella 2B  3  0  1   0  0  0  3  .333  .333  ...
 14                 Pedro Strop P  0  0  0   0  0  0  0              ...
 15               Hector Rondon P  0  0  0   0  0  0  0              ...

        WPA    aLI   WPA+     WPA-    cWPA   acLI   RE24 PO  A Details
 0   -0.033   1.24  0.065  -0.098%  -0.02%   1.35   -0.3  2  0      2B
 1   -0.094   1.11  0.000  -0.094%  -0.06%   1.21   -0.9  0  0
 2   -0.101   0.93  0.012  -0.113%  -0.07%   1.01   -0.9  7  1
 3   -0.071   0.89  0.014  -0.084%  -0.05%   0.97   -0.7  4  0
 4    0.005   0.84  0.067  -0.062%   0.00%   0.92    0.0  1  0      2B
 5   -0.094   0.84  0.000  -0.094%  -0.06%   0.92   -0.9  0  1
 6    0.032   1.17  0.065  -0.034%   0.02%   1.27    0.3  8  1      2B
 7                                                        0  0
 8                                                        0  0
 9    0.039   0.71  0.043  -0.004%   0.03%   0.77    0.3  0  1
 10  -0.037   1.39  0.000  -0.037%  -0.02%   1.51   -0.3  1  1
 11                                                       0  0
 12  -0.085   1.48  0.000  -0.085%  -0.06%   1.60   -0.8  3  0
 13   0.000   1.21  0.063  -0.062%      0%   1.31   -0.1  1  3      SB
 14                                                       0  0
 15                                                       0  0

 [16 rows x 24 columns],
 'team2_streak': 0}

In [9]:
df_game_data = pd.DataFrame()
for game_key in game_data_keys:
    # game_key = list(game_data.keys())[0]
    game = game_data[game_key]
    df_game = pd.DataFrame([game])
    # print(df_game.head())
    df_game_data = pd.concat([df_game_data, df_game])
df_game_data.head()

,game_page_url,have_att,start_time,day,month,is_federal_holiday,duration,venue,at_night,on_grass,...,team1_pre_loss,team1_pre_win_pct,team1_players,team1_streak,team2_name,team2_pre_win,team2_pre_loss,team2_pre_win_pct,team2_players,team2_streak
0,https://www.baseball-reference.com/boxes/CHN/C...,True,2015-04-05 19:17:00,Sunday,April,0,0 days 03:04:00,Wrigley Field,True,True,...,0,0.0,Batting AB R H RBI BB SO ...,0,ChicagoCubs,0,0,0.0,Batting AB R H RBI ...,0
0,https://www.baseball-reference.com/boxes/ARI/A...,True,2015-04-06 19:13:00,Monday,April,0,0 days 03:18:00,Chase Field,True,True,...,0,0.0,Batting AB R H RBI BB SO P...,0,ArizonaDiamondbacks,0,0,0.0,Batting AB R H RBI BB ...,0
0,https://www.baseball-reference.com/boxes/CIN/C...,True,2015-04-06 16:10:00,Monday,April,0,0 days 02:30:00,Great American Ball Park,False,True,...,0,0.0,Batting AB R H RBI BB SO PA...,0,CincinnatiReds,0,0,0.0,Batting AB R H RBI BB SO P...,0
0,https://www.baseball-reference.com/boxes/DET/D...,True,2015-04-06 13:08:00,Monday,April,0,0 days 02:30:00,Comerica Park,False,True,...,0,0.0,Batting AB R H RBI BB SO P...,0,DetroitTigers,0,0,0.0,Batting AB R H RBI BB SO PA ...,0
0,https://www.baseball-reference.com/boxes/HOU/H...,True,2015-04-06 18:10:00,Monday,April,0,0 days 02:30:00,Minute Maid Park,True,True,...,0,0.0,Batting AB R H RBI BB SO PA...,0,HoustonAstros,0,0,0.0,Batting AB R H RBI BB SO PA ...,0

In [10]:
df_game_data = df_game_data.reset_index(drop=True)
df_game_data = df_game_data[['attendance', 'start_time', 'day', 'month', 'is_federal_holiday', 
'venue', 'at_night', 'on_grass', 
'temperature', 'wind_speed', 'weather', 'precipitation', 
'team1_name', 'team1_pre_win', 'team1_pre_loss', 
'team1_pre_win_pct', 'team1_players', 'team1_streak', 
'team2_name', 'team2_pre_win', 'team2_pre_loss', 
'team2_pre_win_pct', 'team2_players', 'team2_streak']]
df_game_data.head()

,attendance,start_time,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,...,team1_pre_loss,team1_pre_win_pct,team1_players,team1_streak,team2_name,team2_pre_win,team2_pre_loss,team2_pre_win_pct,team2_players,team2_streak
0,35055,2015-04-05 19:17:00,Sunday,April,0,Wrigley Field,True,True,44,7,...,0,0.0,Batting AB R H RBI BB SO ...,0,ChicagoCubs,0,0,0.0,Batting AB R H RBI ...,0
1,49043,2015-04-06 19:13:00,Monday,April,0,Chase Field,True,True,81,7,...,0,0.0,Batting AB R H RBI BB SO P...,0,ArizonaDiamondbacks,0,0,0.0,Batting AB R H RBI BB ...,0
2,43633,2015-04-06 16:10:00,Monday,April,0,Great American Ball Park,False,True,68,15,...,0,0.0,Batting AB R H RBI BB SO PA...,0,CincinnatiReds,0,0,0.0,Batting AB R H RBI BB SO P...,0
3,45030,2015-04-06 13:08:00,Monday,April,0,Comerica Park,False,True,52,5,...,0,0.0,Batting AB R H RBI BB SO P...,0,DetroitTigers,0,0,0.0,Batting AB R H RBI BB SO PA ...,0
4,43753,2015-04-06 18:10:00,Monday,April,0,Minute Maid Park,True,True,79,14,...,0,0.0,Batting AB R H RBI BB SO PA...,0,HoustonAstros,0,0,0.0,Batting AB R H RBI BB SO PA ...,0

In [11]:
df_game_data.iloc[7320:7330]

,attendance,start_time,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,...,team1_pre_loss,team1_pre_win_pct,team1_players,team1_streak,team2_name,team2_pre_win,team2_pre_loss,team2_pre_win_pct,team2_players,team2_streak
7320,43300,2017-10-29 19:21:00,Sunday,October,0,Minute Maid Park,True,True,69,0,...,57,0.645963,Batting AB R H RBI BB S...,1,HoustonAstros,100,61,0.621118,Batting AB R H RBI BB SO...,-1
7321,54128,2017-10-31 17:21:00,Tuesday,October,0,Dodger Stadium,True,True,67,3,...,60,0.627329,Batting AB R H RBI BB SO ...,1,LosAngelesDodgers,103,58,0.639752,Batting AB R H RBI BB SO...,-1
7322,Start Time: 1:10 p.m. Local,"Rescheduled From: Apr 3, 2017 (Rain)",4,4,0,"Attendance: 36,534",None,None,0,0,...,0,0.000000,Batting AB R H RBI BB S...,0,ChicagoWhiteSox,0,0,0.000000,Batting AB R H RBI BB SO PA ...,0
7323,Start Time: 12:46 p.m. Local,"Rescheduled From: Apr 5, 2017 (Rain)",6,4,0,"Attendance: 44,039",None,None,0,0,...,1,0.500000,Batting AB R H RBI BB SO P...,0,StLouisCardinals,1,1,0.500000,Batting AB R H RBI BB SO ...,0
7324,Start Time: 2:06 p.m. Local,"Rescheduled From: Apr 6, 2017 (Rain)",13,4,0,"Attendance: 32,400",None,None,0,0,...,5,0.375000,Batting AB R H RBI BB S...,0,BostonRedSox,4,4,0.500000,Batting AB R H RBI BB SO PA...,0
7325,40099,2017-04-27 12:47:00,Thursday,April,0,Busch Stadium III,False,True,52,8,...,14,0.300000,Batting AB R H RBI BB SO ...,0,StLouisCardinals,9,11,0.450000,Batting AB R H RBI BB SO P...,2
7326,34779,2017-05-09 12:12:00,Tuesday,May,0,Coors Field,False,True,63,5,...,15,0.516129,Batting AB R H RBI BB...,2,ColoradoRockies,20,12,0.625000,Batting AB R H RBI BB SO...,0
7327,41150,2017-05-14 14:07:00,Sunday,May,0,Yankee Stadium III,False,True,66,7,...,11,0.694444,Batting AB R H RBI BB SO PA ...,0,NewYorkYankees,21,12,0.636364,Batting AB R H RBI BB SO PA...,0
7328,31738,2017-05-14 13:36:00,Sunday,May,0,Nationals Park,False,True,74,13,...,20,0.393939,Batting AB R H RBI BB ...,0,WashingtonNationals,23,12,0.657143,Batting AB R H RBI BB SO PA...,0
7329,20603,2017-05-18 12:11:00,Thursday,May,0,Target Field,False,True,50,12,...,15,0.625000,Batting AB R H RBI BB SO PA ...,1,MinnesotaTwins,19,16,0.542857,Batting AB R H RBI BB S...,0

In [12]:
df_game_data = df_game_data.drop([7322, 7323, 7324])

In [13]:
df_debug = df_game_data[df_game_data['attendance'] == "Start Time: 12:46 p.m. Local"]
df_debug

Empty DataFrame
Columns: [attendance, start_time, day, month, is_federal_holiday, venue, at_night, on_grass, temperature, wind_speed, weather, precipitation, team1_name, team1_pre_win, team1_pre_loss, team1_pre_win_pct, team1_players, team1_streak, team2_name, team2_pre_win, team2_pre_loss, team2_pre_win_pct, team2_players, team2_streak]
Index: []

[0 rows x 24 columns]

In [14]:
df_game_data = df_game_data.reset_index(drop=True)
df_game_data['attendance'] = df_game_data['attendance'].astype(int)
df_game_data_have_aud = df_game_data[df_game_data['attendance'] > 0].reset_index(drop=True)
print(df_game_data_have_aud.shape)
df_game_data_have_aud.head()

(12270, 24)

,attendance,start_time,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,...,team1_pre_loss,team1_pre_win_pct,team1_players,team1_streak,team2_name,team2_pre_win,team2_pre_loss,team2_pre_win_pct,team2_players,team2_streak
0,35055,2015-04-05 19:17:00,Sunday,April,0,Wrigley Field,True,True,44,7,...,0,0.0,Batting AB R H RBI BB SO ...,0,ChicagoCubs,0,0,0.0,Batting AB R H RBI ...,0
1,49043,2015-04-06 19:13:00,Monday,April,0,Chase Field,True,True,81,7,...,0,0.0,Batting AB R H RBI BB SO P...,0,ArizonaDiamondbacks,0,0,0.0,Batting AB R H RBI BB ...,0
2,43633,2015-04-06 16:10:00,Monday,April,0,Great American Ball Park,False,True,68,15,...,0,0.0,Batting AB R H RBI BB SO PA...,0,CincinnatiReds,0,0,0.0,Batting AB R H RBI BB SO P...,0
3,45030,2015-04-06 13:08:00,Monday,April,0,Comerica Park,False,True,52,5,...,0,0.0,Batting AB R H RBI BB SO P...,0,DetroitTigers,0,0,0.0,Batting AB R H RBI BB SO PA ...,0
4,43753,2015-04-06 18:10:00,Monday,April,0,Minute Maid Park,True,True,79,14,...,0,0.0,Batting AB R H RBI BB SO PA...,0,HoustonAstros,0,0,0.0,Batting AB R H RBI BB SO PA ...,0

In [15]:
from datetime import datetime
df_game_data_have_aud['start_hour'] = df_game_data_have_aud['start_time'].apply(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S').hour)
df_game_data_have_aud.drop('start_time', axis=1, inplace=True)
df_game_data_have_aud.head()

,attendance,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,weather,...,team1_pre_win_pct,team1_players,team1_streak,team2_name,team2_pre_win,team2_pre_loss,team2_pre_win_pct,team2_players,team2_streak,start_hour
0,35055,Sunday,April,0,Wrigley Field,True,True,44,7,Sunny.,...,0.0,Batting AB R H RBI BB SO ...,0,ChicagoCubs,0,0,0.0,Batting AB R H RBI ...,0,19
1,49043,Monday,April,0,Chase Field,True,True,81,7,Sunny.,...,0.0,Batting AB R H RBI BB SO P...,0,ArizonaDiamondbacks,0,0,0.0,Batting AB R H RBI BB ...,0,19
2,43633,Monday,April,0,Great American Ball Park,False,True,68,15,Overcast.,...,0.0,Batting AB R H RBI BB SO PA...,0,CincinnatiReds,0,0,0.0,Batting AB R H RBI BB SO P...,0,16
3,45030,Monday,April,0,Comerica Park,False,True,52,5,Cloudy.,...,0.0,Batting AB R H RBI BB SO P...,0,DetroitTigers,0,0,0.0,Batting AB R H RBI BB SO PA ...,0,13
4,43753,Monday,April,0,Minute Maid Park,True,True,79,14,Cloudy.,...,0.0,Batting AB R H RBI BB SO PA...,0,HoustonAstros,0,0,0.0,Batting AB R H RBI BB SO PA ...,0,18

### deal with players

In [16]:
target_player = pd.read_csv("../data/players/players_all_star_salary_5000000.csv")["Name"].to_numpy()
target_player[0:5]

array(['Adam Jones', 'Chris Sale', 'Aroldis Chapman', 'Miguel Cabrera',
       'David Price'], dtype=object)

In [17]:
players_5000000 = pd.read_csv("../data/players/players_salary_5000000.csv")
players_8000000 = pd.read_csv("../data/players/players_salary_8000000.csv")
players_15000000 = pd.read_csv("../data/players/players_salary_15000000.csv")
print(players_5000000.shape, players_8000000.shape, players_15000000.shape)

(585, 1) (391, 1) (172, 1)

In [24]:
df_5000000_8000000 = players_5000000['Name'].isin(players_8000000['Name'])
df_5000000_8000000 = df_5000000_8000000 == False
df_5000000_8000000 = players_5000000[df_5000000_8000000]
df_5000000_8000000 = df_5000000_8000000.reset_index(drop=True)
print(df_5000000_8000000.shape)

(194, 1)

In [25]:
df_8000000_15000000 = players_8000000['Name'].isin(players_15000000['Name'])
df_8000000_15000000 = df_8000000_15000000 == False
df_8000000_15000000 = players_8000000[df_8000000_15000000]
df_8000000_15000000 = df_8000000_15000000.reset_index(drop=True)
print(df_8000000_15000000.shape)

(219, 1)

In [26]:
for player in target_player:
    pl = player.replace(" ", "-")
    record = []
    for i in range(len(df_game_data_have_aud)):
        df_player_1 = df_game_data_have_aud['team1_players'][i]
        df_player_2 = df_game_data_have_aud['team2_players'][i]
        if df_player_1["Batting"].str.contains(player).any() or df_player_2["Batting"].str.contains(player).any():
            record.append(1)
        else:
            record.append(0)
    df_game_data_have_aud[pl] = record

C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1261902906.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud[pl] = record

In [27]:
df_game_data_have_aud.head()

,attendance,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,weather,...,Corbin-Burnes,Pete-Alonso,Edwin-Díaz,Starling-Marte,Joe-Musgrove,Joc-Pederson,Carlos-Rodon,Corey-Seager,Vladimir-Guerrero-Jr.,Byron-Buxton
0,35055,Sunday,April,0,Wrigley Field,True,True,44,7,Sunny.,...,0,0,0,0,0,0,0,0,0,0
1,49043,Monday,April,0,Chase Field,True,True,81,7,Sunny.,...,0,0,0,0,0,0,0,0,0,0
2,43633,Monday,April,0,Great American Ball Park,False,True,68,15,Overcast.,...,0,0,0,1,0,0,0,0,0,0
3,45030,Monday,April,0,Comerica Park,False,True,52,5,Cloudy.,...,0,0,0,0,0,0,0,0,0,0
4,43753,Monday,April,0,Minute Maid Park,True,True,79,14,Cloudy.,...,0,0,0,0,0,0,0,0,0,0

In [29]:
rank1 = []
rank2 = []
rank3 = []
for i in range(len(df_game_data_have_aud)):
    df_player_1 = df_game_data_have_aud['team1_players'][i]
    df_player_2 = df_game_data_have_aud['team2_players'][i]
    rank1_num = 0
    rank2_num = 0
    rank3_num = 0

    # calculate 5000000~8000000
    for j in range(len(df_5000000_8000000)):
        if df_player_1["Batting"].str.contains(df_5000000_8000000['Name'][j]).any() or df_player_2["Batting"].str.contains(df_5000000_8000000['Name'][j]).any():
            rank1_num += 1

    # calculate 8000000~15000000
    for j in range(len(df_8000000_15000000)):
        if df_player_1["Batting"].str.contains(df_8000000_15000000['Name'][j]).any() or df_player_2["Batting"].str.contains(df_8000000_15000000['Name'][j]).any():
            rank2_num += 1

    # calculate 15000000~
    for j in range(len(players_15000000)):
        if df_player_1["Batting"].str.contains(players_15000000['Name'][j]).any() or df_player_2["Batting"].str.contains(players_15000000['Name'][j]).any():
            rank3_num += 1

    rank1.append(rank1_num)
    rank2.append(rank2_num)
    rank3.append(rank3_num)
print(len(rank1), len(rank2), len(rank3))

12270 12270 12270

In [30]:
df_game_data_have_aud['salary-500-800'] = rank1
df_game_data_have_aud['salary-800-1500'] = rank2
df_game_data_have_aud['salary-1500'] = rank3

C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1281861877.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud['salary-500-800'] = rank1
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1281861877.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud['salary-800-1500'] = rank2
C:\Users\gary6\AppData\Local\Temp\ipykernel_28596\1281861877.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_game_data_have_aud['salary-1500'] = rank3

In [31]:
df_game_data_have_aud.drop(['team1_players', 'team2_players'], axis=1, inplace=True)

In [32]:
df_game_data_have_aud.head()

,attendance,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,weather,...,Starling-Marte,Joe-Musgrove,Joc-Pederson,Carlos-Rodon,Corey-Seager,Vladimir-Guerrero-Jr.,Byron-Buxton,salary-500-800,salary-800-1500,salary-1500
0,35055,Sunday,April,0,Wrigley Field,True,True,44,7,Sunny.,...,0,0,0,0,0,0,0,5,6,8
1,49043,Monday,April,0,Chase Field,True,True,81,7,Sunny.,...,0,0,0,0,0,0,0,7,6,6
2,43633,Monday,April,0,Great American Ball Park,False,True,68,15,Overcast.,...,1,0,0,0,0,0,0,5,9,6
3,45030,Monday,April,0,Comerica Park,False,True,52,5,Cloudy.,...,0,0,0,0,0,0,0,5,5,8
4,43753,Monday,April,0,Minute Maid Park,True,True,79,14,Cloudy.,...,0,0,0,0,0,0,0,6,5,8

In [33]:
df_game_data_have_aud.to_csv("processed_traning.csv", index=False)